.categories{
    width: 100%;
    padding: 50px;
}
.parts{
    display: flex;
    justify-content: space-around;
}
.item{
    font-size: 14px;
    color: rgba(118, 128, 136, 1);
    line-height: 20px;
    font-weight: 400;
}